#main_header{
    
    .description{
        padding-top: 7%;

        p{
            font-size: 2.3em;
            font-weight: bold;
            color: white;
            padding: 0;
            margin: 0;
        }
    }

    .image{
        background-size: cover;
        background-repeat: no-repeat;
    }
}