html,
body {
    overflow-x: hidden;
}


#App {
    .step {
        margin: 10px 0;
    }

    .number {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.2rem;
        margin-right: 15px;
        color: #129d90;
    }

    .btn_download {
        margin-top: 20px;
        background-color: #0c756a;
    }

    #containerApp {
        padding-bottom: 100px;
    }
}